.slug-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button { margin: 0; }
}
